
.header-container{
width: 1490px;
height: 652px;
background-image: url("./assets/Hero-bg.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;


}

.header-content{
width: 998px;
height: 587.41px;
margin: 26px auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.imagecontent {
width: 240.28px;
height: 245.41px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-bottom: 32px;

}

.header-container h1{
width: 998px;
height: 136px;
margin: 24px 0px;
text-align: center;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
}
 .header-container p{
width: 852px;
height: 52px;
margin: 0 50px;
text-align: center;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-bottom: 32px;
 }

 .header-container button{
width: 208px;
height: 66px;
border-radius: 8px;
background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
margin-bottom: 38.59;

 }
 .development-container{
width: 1140px;
height: 1395px;
padding: 80px 97px 80px 97px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin: 70px auto;
background: rgba(13, 19, 33, 0.02);
}

.development-content{

width: 946px;
height: 1235px;
margin: 0px auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}

.development-heading h1{
width: 852px;
height: 39px;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;


}
.development-heading p{
    width: 852px;
height: 52px;
align-items: center;
padding: 0px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;

}

.development-body1{
    width: 850px;
height: 240px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
margin-bottom: 80px;
}

.body1-content h2{
width: 390px;
height: 72px;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
text-align: left;
margin-top: 40px;

}
.body1-content p{
    width: 468px;
height: 52px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: left;

}
.body1-content button{
    width: 150px;
height: 48px;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;

}

.body1-content img {
    width: 259.56px;
height: 217.01px;
}
.developement-body2{
width: 850px;
height: 240px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
/*align-self: stretch;*/
}

.body2-image img {
    width: 223.2px;
height: 208.85px;
}
.body2-content h2 {
width: 477px;
height: 72px;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
}
.body2-content p {
width: 468px;
height: 52px;
margin: 10px 0px;
margin: 16px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: left;
}

.body2-content button {
width: 150px;
height: 48px;
margin: 10px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;


}
.development-footer{
width: 850px;
height: 240px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
margin: 32px 48px;
}

.footer1-content h2 {
        width: 390px;
        height: 72px;
        color: rgba(13, 19, 33, 0.7);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        margin-top: 50px;
        
        }
.footer1-content p{
        width: 468px;
        height: 52px;
        opacity: 0.7;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        
        }
.footer1-content button{
width: 150px;
height: 48px;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
}
.footer1-content img{
 width: 259.56px;
height: 217.01px;
}
.body2-container{
    width: 1140px;
    height: 770px;
    padding: 80px 97px 80px 97px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 70px auto;
    background: rgba(13, 19, 33, 0.02);
    }

.body2-content h2 {
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
    text-align: left;
}
.body2-content p {
    width: 852px;
height: 52px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;

}
.youtube iframe{
    width: 1076px;
    height: 550px;
    margin: 48px 0px;
    align-self: stretch;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}
.bodyy-container{
    height: 700px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px auto;
    margin-top: 50px;
}
.body3-content h2{
    width: 852px;
height: 39px;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
}
.body3-content p{
    width: 852px;
height: 52px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
}
.card {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
}

.card1 {
width: 280px;
height: 233px;
padding: 40px;
margin: 0px 15px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);

}
.card2 {
width: 280px;
height: 233px;
margin: 0px 15px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
padding: 40px;


}
.card3 {
width: 280px;
height: 233px;
padding: 40px;
border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
margin: 0px 15px;

}

.next-target{
width: 1140px;
height: 871px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 111px 0px;
align-self: stretch;
flex-grow: 0;
}
.target-content h2{
    width: 852px;
height: 39px;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
}
.target-content p {
    width: 852px;
height: 52px;
align-items: center;
margin: 24px 0px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
display: flex;
flex-direction:column;
justify-content: flex-start;
align-items: flex-start;
}
.skils {
    width: 1140px;
height: 220px;
display: flex;
flex-direction:row;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
flex-grow: 1;
margin: 10px 24px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);

}
.skil {
    margin-left: 24px;
    
}
.skil h2 {
    margin: 8px 0px;
    width: 97px;
    height: 36px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}
.skil p {
    width: 941.22px;
height: 52px;
margin: 8px 0px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: left;
}
.skil a {
    width: 941.22px;
height: 20px;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
text-align: left;
text-decoration-line: underline;
}
.Support-Container {
    width: 1140px;
height: 314px;
left: 150px;
right: 150px;
top: 4752px;
bottom: 179px;
padding: 64px 48px 64px 48px;
    background-image: url(".//assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);;
    background-blend-mode: overlay;
}

.Support-Container h2{
    width: 230px;
height: 36px;
align-items: center;
margin: 0px auto;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
text-align: center;
margin-bottom: 10px;
}

.Support-Container p {
width: 606px;
height: 52px;
align-items: center;
margin: 0px auto;
opacity: 0.7;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
margin-bottom: 10px;

}
#massgebox{
    width: 548px;
height: 57px;
padding: 19px 20px 19px 20px;
margin: 0px 16px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
#btn {
    width: 120px;
height: 58px;
padding: 17px 20px 17px 20px;
margin: 0px 16px;
border-radius: 8px;
background: rgb(255, 255, 255);
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600
}
.inputt {
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 19px 20px 19px 20px;
margin: 0px 220px;
}
.footer-boxcontainer{
width: 1200px;
height: 100px;
left: 0;
top: 5145px;
padding: 32px 150px 32px 150px;
border-radius: 16px;
background: rgba(8, 42, 110, 0.03);
background-color: rgba(13, 19, 33, 0.08);
margin-top: 20px;
}
.footer-Container{
    width: 1140px;
height: 36px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
margin: 60px 0px;
align-self: stretch;
border-radius: 16px;
}
.footer-content li {
    width: 390px;
height: 24px;
margin: 0px 16px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
}




